
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
    }
    li {
        float: left;
        overflow: hidden;
        border-right: 1px solid #393e46;
    }
    li:last-child {
        border-right: none;
    }
    li a {
        display: block;
        padding: 8px;
        background-color: #6d9886;
        text-align: center;
        color: #393e46;
    }
    .active {
        background-color: #4c826c;
    }
    * {
        color: #6d9886;
        background-color: #393e46;

    }
    li a:hover {
        background-color: aliceblue;
    }
    .box {
        border: 5px dotted rebeccapurple;
        background-color: #6d9886;
        padding: 0px;
        margin: 40px;
      }
    /* flexbox attempt */
    /* "More" page */
    .flexing {
        display: flex;
        flex-flow: row wrap;
        align-items: stretch;
        justify-content: space-evenly;
    }
    

    /* [About] Books */
    .bookcase {
        /* transform: rotate(20deg); */
        max-height: 100vh; /* viewport height */
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column; 
        justify-content: space-between;
        overflow-x: hidden; /* Hide horizontal scrollbar */
        overflow-y: scroll;
    }
    .shelf {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    .book {
        background-color:#4c826c;
        width: 20%;
        height: 30%;
        padding: 1vw;
    }
    .book img {
        object-fit: fill;
        width: 10vw;
        height: 15vh;
    }
    .turned {
        transform: rotate(90deg);
        margin: 0vw 2.5vw 0vw 2.5vw;
    }
   